<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/document-search-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/document-search-service.%d{yyyy-MM-dd}.log.%i.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
	        <maxHistory>30</maxHistory>
	        <totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d %thread %-5level %logger{64} traceId=%X{traceId} spanId=%X{spanId} %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %thread %-5level %logger{64} traceId=%X{traceId} spanId=%X{spanId} %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level> <!-- Specify the log level for the file appender -->
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
	</appender>
	<!-- Root Level for Logging -->
	<root level="INFO">
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="console" />
	</root>
</configuration>